@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oswald', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'PT Serif', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'PT Serif', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'PT Serif', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #f7fa1c !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #f92807 !important;
}
.bg-warning {
  background-color: #2969b0 !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary {
  background-color: #f7fa1c;
  border-color: #f7fa1c;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c3c504;
  border-color: #c3c504;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c3c504 !important;
  border-color: #c3c504 !important;
}
.btn-secondary {
  background-color: #f7fa1c;
  border-color: #f7fa1c;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c3c504;
  border-color: #c3c504;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c3c504 !important;
  border-color: #c3c504 !important;
}
.btn-info {
  background-color: #f92807;
  border-color: #f92807;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #af1c04;
  border-color: #af1c04;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #af1c04 !important;
  border-color: #af1c04 !important;
}
.btn-success {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-danger {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #aaac04;
  color: #aaac04;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f7fa1c;
  border-color: #f7fa1c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f7fa1c !important;
  border-color: #f7fa1c !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #aaac04;
  color: #aaac04;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f7fa1c;
  border-color: #f7fa1c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f7fa1c !important;
  border-color: #f7fa1c !important;
}
.btn-info-outline {
  background: none;
  border-color: #961804;
  color: #961804;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #f92807;
  border-color: #f92807;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f92807 !important;
  border-color: #f92807 !important;
}
.btn-success-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.text-primary {
  color: #f7fa1c !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #f92807 !important;
}
.text-warning {
  color: #2969b0 !important;
}
.text-danger {
  color: #000000 !important;
}
.alert-success {
  background-color: #ffffff;
}
.alert-info {
  background-color: #f92807;
}
.alert-warning {
  background-color: #2969b0;
}
.alert-danger {
  background-color: #000000;
}
.btn-social {
  border-color: #f7fa1c;
}
.btn-social:hover {
  background: #f7fa1c;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #f7fa1c;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #f7fa1c;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f7fa1c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f7fa1c;
}
.lead a,
.lead a:hover {
  color: #f7fa1c;
}
.lead blockquote {
  border-color: #f7fa1c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fefee4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fed5ce;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #f7fa1c;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#footer1-2 P {
  color: #f7fa1c;
}
#msg-box5-z H3 {
  color: #ffffff;
  text-align: right;
  font-size: 20px;
  font-family: 'Arimo', sans-serif;
}
#slider2-v .mbr-section-title,
#slider2-v .mbr-section-lead {
  color: #fff;
}
#msg-box8-11 .mbr-section-title,
#msg-box8-11 .lead {
  color: #fff;
}
#menu-u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-u .navbar-caption {
  color: #ffffff;
}
#menu-u .navbar-toggler {
  color: #ffffff;
}
#menu-u .close-icon::before,
#menu-u .close-icon::after {
  background-color: #ffffff;
}
#menu-u .link,
#menu-u .dropdown-item {
  color: #ffffff;
}
#menu-u .link {
  font-size: 0.6rem;
}
#menu-u .dropdown-item,
#menu-u .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#menu-u .link:hover,
#menu-u .dropdown-item:hover,
#menu-u .link:focus,
#menu-u .dropdown-item:focus {
  color: #f7fa1c;
}
#menu-u .link[aria-expanded="true"],
#menu-u .dropdown-menu {
  background: #000000;
}
#menu-u .nav-dropdown-sm .link:focus,
#menu-u .nav-dropdown-sm .link:hover,
#menu-u .nav-dropdown-sm .dropdown-item:focus,
#menu-u .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-u .navbar,
#menu-u .nav-dropdown-sm,
#menu-u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-u .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-u .bg-color.transparent.opened .link:hover,
#menu-u .bg-color.transparent.opened .link:focus {
  color: #f7fa1c;
}
#menu-u .link[aria-expanded="true"],
#menu-u .dropdown-item[aria-expanded="true"] {
  color: #f7fa1c!important;
}
#features1-10 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-10 .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}
#features1-10 .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #848281;
}
#features1-10 .mbr-cards-col:nth-child(even) .card-text {
  font-size: 17px;
  text-align: center;
  color: #f92807;
}
#header5-6 .mbr-section-title {
  color: #000000;
  font-size: 60px;
  text-align: left;
}
#header5-6 .mbr-section-lead {
  color: #9c9a9a;
}
#header5-6 .mbr-section-title SPAN {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
}
#footer1-s P {
  color: #f7fa1c;
}
